
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 20px 15px;
    border-radius: 10px;

    h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    h2 {
        font-size: 2rem;
        font-weight: 400;
    }
}