@import "./base";
@import './variables';
@import "./mixins";
@import './grid';

.container__login {
    background: url("../assets/register_bg_2.png");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.wrapper {
    min-height: calc(100% - 4rem);
}
